[submodule "ground-station"]
	path = ground-station
	url = https://github.com/CarletonURocketry/ground-station
[submodule "ground-station-ui"]
	path = ground-station-ui
	url = https://github.com/CarletonURocketry/ground-station-ui
